[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AgroR"]
	path = AgroR
	url = https://github.com/cran/AgroR
[submodule "AgroReg"]
	path = AgroReg
	url = https://github.com/cran/AgroReg
